.banner {
  position: relative;
  height: 570px;
  background-position: cover;
  background-size: cover;
}

.container {
  position: absolute;
  color: white;
  top: 220px;
}

.container h1 {
  font-size: 32px;
}

.container p {
  font-size: 20px;
  opacity: 0.7;
}
